export ENABLED=true
export ADDIP="$ADDIP grodrigues.vocon-it.com"
export ADDIP="$ADDIP ganesh.vocon-it.com"
export ADDIP="$ADDIP vocon-home.mooo.com"
export ADDIP="$ADDIP dev-master1.vocon-it.com"
export ADDIP="$ADDIP dev-node1.vocon-it.com"
export ADDIP="$ADDIP dev-node2.vocon-it.com"
export ADDIP="$ADDIP static.254.247.47.78.clients.your-server.de"
export ENABLE_PUBLIC_WEB_ACCESS=false
export KUBERNETES=false
export DCOS=false

