ACCEPT 91.5.21.178/32 189.6.24.3/32
ACCEPT grodrigues.vocon-it.com ganesh.vocon-it.com vocon-home.mooo.com dev-master1.vocon-it.com dev-node1.vocon-it.com dev-node2.vocon-it.com static.254.247.47.78.clients.your-server.de
#-A CUSTOM-ACCEPT -s 91.5.21.178/32 189.6.24.3/32 -j ACCEPT
-A CUSTOM-ACCEPT -s 172.17.0.0/16 -j ACCEPT
-A CUSTOM-ACCEPT -s 127.0.0.0/8 -j ACCEPT
-A CUSTOM-ACCEPT -s 116.203.100.241/32 -j ACCEPT
-A CUSTOM-ACCEPT -s 10.32.0.1/32 -j ACCEPT
-A CUSTOM-ACCEPT -s 78.47.247.254/32 -j ACCEPT
-A CUSTOM-ACCEPT -s 116.203.74.214/32 -j ACCEPT
-A CUSTOM-ACCEPT -s 116.203.107.195/32 -j ACCEPT
-A CUSTOM-ACCEPT -s 172.17.0.1/32 -j ACCEPT
-A CUSTOM-ACCEPT -s 192.168.0.0/16 -j ACCEPT
-A CUSTOM-ACCEPT -s 10.0.0.0/8 -j ACCEPT
-A CUSTOM-ACCEPT -m state --state RELATED,ESTABLISHED -j ACCEPT
-A CUSTOM-ACCEPT -j RETURN
