-N CUSTOM-DROP
-A CUSTOM-DROP -p tcp -m tcp --dport 5901 -j DROP
-A CUSTOM-DROP -p tcp -m tcp --dport 6901 -j DROP
-A CUSTOM-DROP -p tcp -m tcp --dport 5902 -j DROP
-A CUSTOM-DROP -p tcp -m tcp --dport 6902 -j DROP
-A CUSTOM-DROP -p tcp -m tcp --dport 4200 -j DROP
-A CUSTOM-DROP -p tcp -m tcp --dport 8080 -j DROP
-A CUSTOM-DROP -p tcp -m tcp --dport 80 -j DROP
-A CUSTOM-DROP -p tcp -m tcp --dport 443 -j DROP
-A CUSTOM-DROP -j RETURN
