# Local Networks:
-N CUSTOM-ACCEPT
-A CUSTOM-ACCEPT -j ACCEPT -s 127.0.0.0/8 -m comment --comment "LOCAL_IP_NETWORK"
-A CUSTOM-ACCEPT -j ACCEPT -s 192.168.0.0/16 -m comment --comment "LOCAL_IP_NETWORK"
-A CUSTOM-ACCEPT -j ACCEPT -s 10.0.0.0/8 -m comment --comment "LOCAL_IP_NETWORK"

# Docker
-A CUSTOM-ACCEPT -j ACCEPT -s 172.17.0.0/16 -m comment --comment "DOCKER"

# For Kubernetes you might need to add:
# -A CUSTOM-ACCEPT -j ACCEPT -s 10.96.0.1/32

# For DC/OS you might need to add ACCEPT rules for following sources:
# 195.201.27.175 195.201.17.1 94.130.187.229 195.201.30.230 94.130.186.77

# Weave
-A CUSTOM-ACCEPT -j ACCEPT -s 10.32.0.1/32

# Dynamic IPs
-A CUSTOM-ACCEPT -j ACCEPT -s grodrigues.vocon-it.com -m comment --comment "grodrigues.vocon-it.com"
-A CUSTOM-ACCEPT -j ACCEPT -s ganesh.vocon-it.com -m comment --comment "ganesh.vocon-it.com"
-A CUSTOM-ACCEPT -j ACCEPT -s vocon-home.mooo.com -m comment --comment "vocon-home.mooo.com"
-A CUSTOM-ACCEPT -j ACCEPT -s dev-master1.vocon-it.com -m comment --comment "dev-master1.vocon-it.com"
-A CUSTOM-ACCEPT -j ACCEPT -s dev-node1.vocon-it.com -m comment --comment "dev-node1.vocon-it.com"
-A CUSTOM-ACCEPT -j ACCEPT -s dev-node2.vocon-it.com -m comment --comment "dev-node2.vocon-it.com"
-A CUSTOM-ACCEPT -j ACCEPT -s static.254.247.47.78.clients.your-server.de -m comment --comment "static.254.247.47.78.clients.your-server.de"

# Established 
-A CUSTOM-ACCEPT -j ACCEPT -m state --state RELATED,ESTABLISHED

# default policy
-A CUSTOM-ACCEPT -j RETURN

